#OuterGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/Portal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.TrialButtonTop {
  font-size: 40px;
  height: 280px;
  width: 300px;
  position: relative;
  border-radius: 30px;
  margin-bottom: 500px;
}

.TrialButtonBottom {
  font-size: 40px;
  height: 280px;
  width: 300px;
  position: relative;
  border-radius: 30px;
  margin-top: 400px;
  margin-left: -200px;
}

#TrialButtonOne {
  background-image: url("../../../public/Water.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 40px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonOne:hover {
  background-image: url("../../../public/Water.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 40px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonTwo {
  background-image: url("../../../public/Fire.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 60px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonTwo:hover {
  background-image: url("../../../public/Fire.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 60px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonThree {
  background-image: url("../../../public/Rock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 35px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonThree:hover {
  background-image: url("../../../public/Rock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 45px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonFour {
  background-image: url("../../../public/Storm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 50px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonFour:hover {
  background-image: url("../../../public/Storm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 50px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonFive {
  background-image: url("../../../public/Forest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 50px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonFive:hover {
  background-image: url("../../../public/Forest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 50px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonSix {
  background-image: url("../../../public/Kingdom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 45px;
  border: 10px black double;
  opacity: 0.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TrialButtonSix:hover {
  background-image: url("../../../public/Kingdom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: azure;
  font-weight: bolder;
  text-shadow: 3px 3px black;
  font-size: 45px;
  border: 10px rgb(250, 246, 246) double;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#OneBodyDiv {
  height: 88vh;
  width: 100%;
}

#TwoBodyDiv {
  height: 88vh;
  width: 100%;
}

#bgOne {
  background-image: url("../../../public/Shallows.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 88vh;
  width: 100%;
  overflow: hidden;
  z-index: -9999;
  display: grid;
  justify-content: center;
  animation: bazoo 4s ease-in-out infinite;
}
@keyframes bazoo {
  0% {
    background-size: 120%;
  }
  50% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
#bgTwo {
  background-image: url("../../../public/Peaks.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 88vh;
  width: 100%;
  overflow: hidden;

  display: grid;
  justify-content: center;
  position: relative;
  padding-top: 50px;
}

#Bannerbg2 {
  position: absolute;
  height: 88vh;
  width: 200%;
  background-image: url("../../../public/Storm.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  animation: scroll 78s alternate-reverse infinite;
  animation-name: scroll;
  animation-duration: 78s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  opacity: 0.3;
  margin-top: -19px;
}

@keyframes slide {
  0% {
    background-position-x: 300;
  }
  100% {
    background-position-x: 0;
  }
}

#CompleteTrialTwoButton {
  height: 100px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px rgba(51, 50, 50, 0.1) dashed;
  color: rgba(51, 50, 50, 0.1);
  font-size: 20px;
  border-radius: 50px;
  position: relative;
  transition: border 5s ease-in;
}

#CompleteTrialTwoButton:hover {
  height: 100px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: 11px rgb(245, 243, 243) solid;
  color: rgba(0, 0, 0, 0.2);

  border-radius: 50px;
}

#EE2 {
  height: 100px;
  width: 120px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px rgba(0, 0, 0, 0) dotted;
  color: rgba(255, 255, 255, 0);
  margin-left: 1300px;
  border-radius: 50px;
  position: relative;
  transition: border 2s ease-in;
}

#EE2:hover {
  height: 100px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: 11px rgb(245, 243, 243) solid;
  color: rgba(0, 0, 0, 0.1);

  border-radius: 50px;
}

#T1 {
  height: 60px;
  margin-left: 600px;
  animation: bazoo4 4s infinite;
}

#WisdomQuiz {
  height: 200px;
}

#ShallowsText {
  color: rgb(220, 238, 239);
  font-size: 37px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 3px 2px rgb(31, 45, 37);
  animation: bazoo3 4s ease-in-out infinite;
  opacity: 0.7;
}

@keyframes bazoo3 {
  0% {
    color: rgb(161, 161, 206);
  }
  50% {
    color: aliceblue;
  }
  100% {
    color: rgb(161, 161, 206);
  }
}

#AlignmentText {
  color: antiquewhite;
  font-size: 31px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 3px 2px rgb(10, 4, 5);
}

#ShallowsTitle {
  color: rgb(227, 194, 150);
  font-size: 51px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 3px 3px rgb(10, 4, 5);
  animation: bazoo4 4s ease-in-out infinite;
}

@keyframes bazoo4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

#AlignmentTitle {
  color: white;
  text-shadow: 3px 3px grey;
  font-size: 44px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#QuizButton {
  height: 130px;
  width: 270px;
  background-color: rgb(75, 99, 131);
  border: 15px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 39px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.7;
  margin-left: -500px;
}

#QuizButton:hover {
  height: 130px;
  width: 270px;
  background-color: rgb(25, 35, 48);
  border: 15px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 39px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.7;
  margin-left: -500px;
}

#AlignmentGoBackButton {
  height: 130px;
  width: 230px;
  background-color: rgb(23, 19, 14);
  border: 15px rgb(150, 120, 120) double;
  border-radius: 30px;
  font-size: 29px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 3px rgb(122, 113, 113);
  color: lightgrey;
  position: relative;
}

#AlignmentGoBackButton:hover {
  height: 130px;
  width: 230px;
  background-color: rgb(95, 58, 102);
  border: 15px rgb(238, 232, 232) double;
  border-radius: 30px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 3px rgb(122, 113, 113);
  color: rgb(198, 156, 198);
  overflow: hidden;
  font-size: 34px;
}

#ShallowsGoBackButton {
  height: 80px;
  width: 230px;
  background-color: rgb(110, 148, 198);
  border: 5px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 29px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.6;
  animation: bazoo2 4s ease-in-out infinite;
  margin-left: -300px;
}

@keyframes bazoo2 {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 20px;
  }
  100% {
    font-size: 40px;
  }
}

#ShallowsGoBackButton:hover {
  height: 80px;
  width: 230px;
  background-color: rgb(44, 81, 130);
  border: 5px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 29px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.6;
  margin-left: -300px;
}

#ResetQuizButton {
  height: 80px;
  width: 270px;
  background-color: rgb(110, 148, 198);
  border: 5px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 29px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.3;
  animation: bazoo2 5s ease-in-out infinite;
}

#ResetQuizButton:hover {
  height: 80px;
  width: 270px;
  background-color: rgb(43, 70, 105);
  border: 5px rgb(191, 210, 234) double;
  border-radius: 40px;
  font-size: 29px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px rgb(17, 17, 17);
  color: rgb(238, 247, 255);
  opacity: 0.6;
}

.quiz-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

#BgQuiz {
  background-image: url("../../../public/Kingdom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.question-section {
  font-size: 60px;
  display: grid;
  justify-content: center;
  margin: 20px;
}

.question-count {
  color: rgb(30, 30, 174);
  text-shadow: 2px 2px white;
  font-size: 38px;
  font-weight: bolder;
  margin: 15px;
}

.question-text {
  font-size: 60px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(93, 134, 170);
  text-shadow: 3px 3px white;
  overflow: hidden;
  animation: typewriter 4s steps(60);
  border-right: 5px solid black;
  height: 70px;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.answer-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  position: relative;
}

.QuizAnswerButtons {
  font-size: 30px;
  height: 230px;
  width: 310px;
  background-color: rgb(6, 26, 42);
  padding: 15px;
  color: aliceblue;
  border: 13px white double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  font-weight: bold;
  animation: fadeIn 7s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.QuizAnswerButtons:hover {
  font-size: 44px;
  height: 230px;
  width: 310px;
  background-color: rgb(36, 98, 150);
  padding: 15px;
  color: aliceblue;
  border: 13px white double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  overflow: hidden;
  font-weight: bolder;
}

.score-section {
  font-size: 90px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(14, 131, 233);
  text-shadow: 3px 3px white;
  overflow: hidden;
  animation: typewriter2 3s steps(60), blink2 3000ms steps(33) infinite normal;
  border-right: 5px solid black;
  height: 12vh;
  width: 100%;
  display: grid;
}

@keyframes typewriter2 {
  from {
    width: 0%;
  }

  to {
    width: 80%;
  }
}

#QuizGoBackButtonContainer {
  display: flex;
  justify-content: center;
}

#ScoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px black double;
  height: 78vh;
  margin: 20px;
}

#QuizGoBackButton {
  font-size: 22px;
  height: 130px;
  width: 210px;
  background-color: rgb(7, 81, 141);
  padding: 25px;
  color: aliceblue;
  border: 13px white double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  font-weight: bold;
  margin-top: 100px;
}

#QuizGoBackButton:hover {
  font-size: 28px;
  height: 130px;
  width: 210px;
  background-color: rgb(94, 174, 239);
  padding: 25px;
  color: aliceblue;
  border: 13px rgb(18, 18, 17) double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  font-weight: bold;
  margin-top: 100px;
  overflow: hidden;
}

#ThreeBodyDiv {
  height: 83vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

#bgThree {
  background-image: url("../../../public/Forest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 83.5vh;
  width: 100%;
  overflow: hidden;
  z-index: -9999;
  display: grid;
  justify-content: center;

  padding-top: 50px;
}

#LifeForceTitle {
  font-size: 40px;
  color: aquamarine;
  font-weight: bolder;
  text-shadow: 3px 3px black;
}

#LifeForceText {
  font-size: 27px;
  color: rgb(7, 109, 75);
  text-shadow: 2px 2px wheat;
}

#LifeForceGoBackButton {
  font-size: 32px;
  height: 130px;
  width: 210px;
  background-color: rgb(194, 238, 203);
  padding: 25px;
  color: rgb(52, 169, 66);
  border: 13px rgb(47, 202, 39) double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  font-weight: bold;
  margin-top: 100px;
}

#LifeForceGoBackButton:hover {
  font-size: 32px;
  height: 130px;
  width: 210px;
  background-color: rgb(2, 61, 14);
  padding: 25px;
  color: rgb(52, 169, 66);
  border: 13px rgb(47, 202, 39) double;
  border-radius: 30px;
  text-shadow: 3px 3px grey;
  font-weight: bold;
  margin-top: 100px;
}
