.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(20, 9, 65, 0.9);
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 3px;
  color: antiquewhite;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: bolder;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ff5733;
}
