#CYC {
  color: white;
  font-size: 90px;
  text-shadow: 4px 4px grey;
  margin-top: 0;
}

#CCCMessage {
  font-size: 80px;
  color: rgb(184, 228, 218);
  text-shadow: 2px 2px black;
  animation: blink 5s infinite;
}

#NameLabel {
  font-size: 34px;
  animation: fadeIn 4s ease-in;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 120px;
  text-shadow: 2px 2px 12px rgb(235, 234, 234);
  color: rgb(23, 23, 48);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#NameInput:hover {
  height: 100px;
  margin: 90px;
  animation: fadeIn 8s ease-in;
  padding: 19px;
  padding-left: 49px;
  font-size: 58px;
  display: flex;
  color: rgb(0, 1, 1);
  font-weight: bolder;
  border-radius: 50px;
  background-image: url("../../../public/Black.png");
  border-bottom-right-radius: 10px;
  border-top-left-radius: 15px;
  border: 13px rgb(15, 73, 147) double;
  border-bottom: 6px rgb(106, 162, 241) solid;
  border-left: 8px rgb(106, 162, 241) solid;
  text-shadow: 3px 3px 5px rgb(249, 249, 249);
  opacity: 0.9;
  box-shadow: 10px 14px 22px rgb(2, 2, 2),
    10px 12px 22px rgb(255, 254, 254) inset;
}

#NameInput {
  height: 100px;
  margin: 90px;
  padding: 19px;
  padding-left: 49px;
  font-size: 58px;
  animation: fadeIn 8s ease-in;
  display: flex;
  color: rgb(0, 1, 1);
  font-weight: bolder;
  border-radius: 50px;
  background-image: url("../../../public/Black.png");
  border-bottom-right-radius: 10px;
  border-top-left-radius: 15px;
  border: 13px rgb(15, 73, 147) double;
  border-bottom: 6px rgb(106, 162, 241) solid;
  border-left: 8px rgb(106, 162, 241) solid;
  text-shadow: 3px 3px 5px rgb(249, 249, 249);
  opacity: 0.9;
  box-shadow: 10px 14px 22px rgb(2, 2, 2), 10px 12px 22px rgb(1, 1, 1) inset;
}

#NameButton {
  font-size: 40px;
  margin: 10px;
  border-radius: 30px;
  border: 10px black double;
  padding: 14px;
  font-weight: bold;
  text-shadow: 2px 2px rgb(5, 5, 11);
  background-color: rgb(11, 98, 163);
  box-shadow: 6px 3px rgb(8, 24, 57) inset, 6px 8px rgb(4, 4, 5);
  color: rgb(214, 217, 246);
}

#NameButton:hover {
  font-size: 40px;
  margin: 10px;
  border-radius: 30px;
  border: 10px rgb(22, 68, 109) double;
  padding: 14px;
  font-weight: bold;
  text-shadow: 2px 2px rgb(204, 204, 230);
  background-color: rgb(105, 168, 217);
  box-shadow: 6px 3px rgb(170, 193, 239) inset, 6px 8px rgb(4, 4, 5);
  color: rgb(5, 15, 99);
}

#RaceSelectButton {
  background-color: rgb(6, 31, 46);
  color: rgb(215, 215, 217);
  text-shadow: 3px 2px rgb(46, 135, 225);
  font-size: 43px;
  margin: 15px;
  padding: 9px;
  border-radius: 30px;
  height: 130px;
  width: 285px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 4px rgb(34, 63, 113) solid;
  border-right: 8px rgb(77, 106, 153) double;
  border-bottom: 8px rgb(82, 122, 193) double;

  box-shadow: 10px 16px 30px lightskyblue, 10px 10px 40px rgb(32, 57, 108) inset;
}

#RaceSelectButton:hover {
  background-color: rgb(6, 31, 46);
  color: rgb(215, 215, 217);
  text-shadow: 7px 3px rgb(46, 135, 225);
  font-size: 43px;
  margin: 15px;
  padding: 9px;
  border-radius: 30px;
  height: 130px;
  width: 285px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 4px rgb(34, 63, 113) solid;
  border-right: 8px rgb(77, 106, 153) double;
  border-bottom: 8px rgb(82, 122, 193) double;

  box-shadow: 10px 16px 30px rgb(176, 222, 250),
    10px 5px 40px rgb(138, 138, 156) inset;
}

#Stat {
  color: rgb(145, 201, 249);
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 2px 2px rgb(50, 49, 49);
  margin-left: 50px;
}

#Stats {
  color: rgb(176, 213, 245);
  font-weight: bolder;
  font-size: 33px;

  text-shadow: 2px 3px rgb(6, 6, 6);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#ReadyButton {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(0, 0, 255, 0.721);
  color: azure;
  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
  border: 8px bisque double;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#ReadyButton:hover {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(35, 167, 42, 0.755);

  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
}

#SaveAndQuitButton {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(0, 0, 255, 0.773);
  color: azure;
  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
  border: 8px bisque double;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#SaveAndQuitButton:hover {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(223, 235, 92, 0.836);
  color: azure;
  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
}

#StartOverButton {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(0, 0, 255, 0.539);
  color: azure;
  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
  border: 8px bisque double;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#StartOverButton:hover {
  font-size: 30px;
  margin: 14px;
  padding: 19px;
  background-color: rgba(209, 45, 86, 0.642);
  color: azure;
  font-weight: bold;
  text-shadow: 2px 3px grey;
  border-radius: 30px;
}

.Title {
  color: rgb(146, 240, 240);
  font-size: 42px;
  text-shadow: 2px 3px rgb(3, 2, 2);
  margin-left: 60px;
}

#GHome {
  height: 90vh;
  background-image: url("../../../public/Entrance.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 6px, 6px, 6px, rgb(254, 185, 185);
  font-weight: bolder;
}

#NameDiv {
  background-image: url("../../../public/Lamp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#StartOut {
  background-color: rgba(240, 248, 255, 0.118);
  padding: 45px;
  border-radius: 30px;
  border-top-left-radius: 0%;
  border: 13px white double;
}
